<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmall.dao.SysDeptMapper">
  <resultMap id="BaseResultMap" type="com.mmall.model.SysDept">
    <!--@mbg.generated-->
    <!--@Table sys_dept-->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="PARENT_ID" jdbcType="INTEGER" property="parentId" />
    <result column="LEVEL" jdbcType="VARCHAR" property="level" />
    <result column="SEQ" jdbcType="INTEGER" property="seq" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="OPERATOR" jdbcType="VARCHAR" property="operator" />
    <result column="OPERATE_TIME" jdbcType="TIMESTAMP" property="operateTime" />
    <result column="OPERATE_IP" jdbcType="VARCHAR" property="operateIp" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, `NAME`, PARENT_ID, `LEVEL`, SEQ, REMARK, `OPERATOR`, OPERATE_TIME, OPERATE_IP
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from sys_dept
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from sys_dept
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mmall.model.SysDept">
    <!--@mbg.generated-->
    insert into sys_dept (ID, `NAME`, PARENT_ID, 
      `LEVEL`, SEQ, REMARK, 
      `OPERATOR`, OPERATE_TIME, OPERATE_IP
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, 
      #{level,jdbcType=VARCHAR}, #{seq,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{operator,jdbcType=VARCHAR}, #{operateTime,jdbcType=TIMESTAMP}, #{operateIp,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mmall.model.SysDept">
    <!--@mbg.generated-->
    insert into sys_dept
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        `NAME`,
      </if>
      <if test="parentId != null">
        PARENT_ID,
      </if>
      <if test="level != null">
        `LEVEL`,
      </if>
      <if test="seq != null">
        SEQ,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="operator != null">
        `OPERATOR`,
      </if>
      <if test="operateTime != null">
        OPERATE_TIME,
      </if>
      <if test="operateIp != null">
        OPERATE_IP,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="seq != null">
        #{seq,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null">
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateIp != null">
        #{operateIp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mmall.model.SysDept">
    <!--@mbg.generated-->
    update sys_dept
    <set>
      <if test="name != null">
        `NAME` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        PARENT_ID = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        `LEVEL` = #{level,jdbcType=VARCHAR},
      </if>
      <if test="seq != null">
        SEQ = #{seq,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        `OPERATOR` = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null">
        OPERATE_TIME = #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateIp != null">
        OPERATE_IP = #{operateIp,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mmall.model.SysDept">
    <!--@mbg.generated-->
    update sys_dept
    set `NAME` = #{name,jdbcType=VARCHAR},
      PARENT_ID = #{parentId,jdbcType=INTEGER},
      `LEVEL` = #{level,jdbcType=VARCHAR},
      SEQ = #{seq,jdbcType=INTEGER},
      REMARK = #{remark,jdbcType=VARCHAR},
      `OPERATOR` = #{operator,jdbcType=VARCHAR},
      OPERATE_TIME = #{operateTime,jdbcType=TIMESTAMP},
      OPERATE_IP = #{operateIp,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>

  <select id="getAllDept"  resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from sys_dept
  </select>
  <select id="getChildDeptListByLevel"  resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from sys_dept
    where level like #{level}
  </select>

  <update id="batchUpdateLevel" parameterType="map">
    <foreach collection="sysDeptList" item="sysDept" separator=";">
      update sys_dept
      set level = #{sysDept.level}
      where id = #{sysDept.id}
    </foreach>
  </update>

  <select id="countByNameAndParentId" parameterType="map" resultType="int">
    select count(1)
    from sys_dept
    where  name=#{name}
    <if test="parentId != null" >
      and parent_id =#{parentId}
    </if>
    <if test="id != null">
      and id != #{id}
    </if>
  </select>

</mapper>