<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmall.dao.SysRoleMapper">
  <resultMap id="BaseResultMap" type="com.mmall.model.SysRole">
    <!--@mbg.generated-->
    <!--@Table sys_role-->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="TYPE" jdbcType="INTEGER" property="type" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="OPERATOR" jdbcType="VARCHAR" property="operator" />
    <result column="OPERATE_TIME" jdbcType="TIMESTAMP" property="operateTime" />
    <result column="OPERATE_IP" jdbcType="VARCHAR" property="operateIp" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, `NAME`, `TYPE`, `STATUS`, REMARK, `OPERATOR`, OPERATE_TIME, OPERATE_IP
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from sys_role
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from sys_role
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mmall.model.SysRole">
    <!--@mbg.generated-->
    insert into sys_role (ID, `NAME`, `TYPE`, 
      `STATUS`, REMARK, `OPERATOR`, 
      OPERATE_TIME, OPERATE_IP)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, 
      #{operateTime,jdbcType=TIMESTAMP}, #{operateIp,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mmall.model.SysRole">
    <!--@mbg.generated-->
    insert into sys_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        `NAME`,
      </if>
      <if test="type != null">
        `TYPE`,
      </if>
      <if test="status != null">
        `STATUS`,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="operator != null">
        `OPERATOR`,
      </if>
      <if test="operateTime != null">
        OPERATE_TIME,
      </if>
      <if test="operateIp != null">
        OPERATE_IP,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null">
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateIp != null">
        #{operateIp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mmall.model.SysRole">
    <!--@mbg.generated-->
    update sys_role
    <set>
      <if test="name != null">
        `NAME` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        `TYPE` = #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        `STATUS` = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        `OPERATOR` = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null">
        OPERATE_TIME = #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateIp != null">
        OPERATE_IP = #{operateIp,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mmall.model.SysRole">
    <!--@mbg.generated-->
    update sys_role
    set `NAME` = #{name,jdbcType=VARCHAR},
      `TYPE` = #{type,jdbcType=INTEGER},
      `STATUS` = #{status,jdbcType=INTEGER},
      REMARK = #{remark,jdbcType=VARCHAR},
      `OPERATOR` = #{operator,jdbcType=VARCHAR},
      OPERATE_TIME = #{operateTime,jdbcType=TIMESTAMP},
      OPERATE_IP = #{operateIp,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>